*.aplf linguist-language=apl
*.aplo linguist-language=apl
*.aplc linguist-language=apl
*.apln linguist-language=apl
*.apli linguist-language=apl
*.dws linguist-language=apl
*.dyapp linguist-language=apl

# For compatability with older versions of acre:
*.function linguist-language=apl
*.operator linguist-language=apl
*.class linguist-language=apl
*.script linguist-language=apl
*.charstring linguist-language=apl
*.charlist linguist-language=apl
*.charmat linguist-language=apl
